body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&family=Sevillana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  @apply h-0 w-0 z-0
}
.navbar.active{
  @apply bg-[#ffff] fixed bg-fixed top-0 flex justify-center items-center h-20  mx-auto px-4 text-[#8dc73f] w-full z-30
}

.session{
  @apply sm:w-80 w-full  h-96 flex items-center justify-center  flex-col relative bg-white
  border-4 border-green  rounded-md shadow-2xl shadow-green transform transition-transform hover:scale-105 cursor-pointer
}
.sessionCircle{
  @apply w-52 h-52 absolute top-[-100px] rounded-full border-8 border-green items-center justify-center flex bg-white hover:bg-green p-4
}

.trainingBorderOdd{
  @apply w-60 h-60 rounded-l-full  border-t-8 flex items-center justify-center border-l-8
}
.trainingBorderEven{
  @apply w-60 h-60 rounded-l-full  border-l-8 flex items-center justify-center border-t-8

}
/* bg-[#FFAD60] */